header {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: 600px;
  text-align: center;
  display: table; }

h1 {
  font-weight: lighter; }

h2 {
  font-weight: lighter;
  text-align: right; }

body {
  background: #83ae9b;
  color: #5a5050; }

.info {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  margin: 0 auto; }
