@import "variable.scss";
header{
  position: relative;
  width: 40%;
  margin: 0 auto;
  height:600px;
  text-align: center;
  display: table;
}
h1{
  font-weight: lighter;
}
h2{
  font-weight: lighter;
  text-align: right;
}
body{
  background: $babel-yellow;
  color: $deep-brown;
}
nav{
  padding-top: 0px;
}
nav a{
  opacity: 0.5;
  margin: 0 24px;
  text-decoration:none;
  color: $deep-brown;
  transition: 0.5s;
}
nav a:hover{
  opacity: 1;
}
