@import "variable.scss";
header{
  position: relative;
  width: 40%;
  margin: 0 auto;
  height:600px;
  text-align: center;
  display: table;
}
h1{
  font-weight: lighter;
}
h2{
  font-weight: lighter;
  text-align: right;
}
body{
  background: $light-green;
  color: #5a5050;
}
